## Python Function

In [ ]:
def my_function(p, l):
  "Function untuk mengitung luas"
  print(p * l)

my_function(5,10)

50

In [ ]:
#function definition
def printme( str ):
  "string pada function"
  print(str)
  return
# sekarang dapat memanggil function printme

printme("Im first call to user defined function")
printme("Again second call to the same funcyion")

Im first call to user defined function
Again second call to the same funcyion

In [15]:
#contoh lain
def printmee(str):
  print(str)
  print(str * 4)
  return

printmee('halo halo ')

halo halo
halo halo halo halo halo halo halo halo

In [11]:
#contoh lain
def halo(b, c):
  "function ini akan menyapa kamu"
  a = f'Halo {b} masyarakat {c}'
  return a

In [12]:
halo('putra','sedang berbahagia')

'Halo putra masyarakat sedang berbahagia'

In [ ]:
#Function dapat mengalami perubahan
def changeme( mylist ):
  "This changes a passed list into this function"
  mylist.append([1,2,3,4]);
  print("Value inside the function: ",mylist)
  return
#now you can call changename function
mylist = [10,20,30];
changeme( mylist );
print("Values outside the function: ",mylist)

Value inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [ ]:
#contoh lain
#Function dapat mengalami perubahan
def changeme( mylist ):
  "This changes a passed list into this function"
  mylist = [1,2,3,4];
  print("Value inside the function: ",mylist)
  return
#now you can call changename function
mylist = [10,20,30];
changeme( mylist );
print("Values outside the function: ",mylist)

Value inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

## Function Argument

In [ ]:
#Required argument adalah argumen yang diteruskan ke suatu fungsi dalam urutan posisi yang benar
def printme( str ):
  "string pada function"
  print(str)
  return
printme()#Untuk memanggil fungsi printme harus perlu memberikan satu argumen jika tidak akan eror

TypeError: ignored

In [ ]:
#Keyword argumen dapat menggunakan keyword argument dalam memanggil fungsi
#pemanggil mengidentikasi argumdn dengan nama parameter
def printme( str ):
  "string pada function"
  print(str)
  return
printme(str = "Hello world")

Hello world

In [ ]:
#contoh lain
def printinfo( name, age ):
  "This prints a passed info into this function"
  print("Name: ", name)
  print("Age: ", age)
  return;

printinfo( age= 4, name="andy")

Name:  andy
Age:  4

In [ ]:
#default argument adalah argumen yang mengasumsikan nilai default jika nilai tidak di sediakan dalam pemanggilan fungsi untuk argumen tersebut

def printinfo( name , age = 26):
  print("Name: ", name)
  print("Age: ", age)
  return;
printinfo( age= 50, name="Doni")
printinfo( name = "Alex")

Name:  Doni
Age:  50
Name:  Alex
Age:  26

# Variable argument

In [ ]:
def printinfo( arg1, *vartuple):
  print("Output is: ")
  print(arg1)
  for var in vartuple:
    print(var)
  return;

printinfo(10)
printinfo(50,60,70,"d")

Output is:
10
Output is:
50
60
70
d

In [17]:
#contoh lain
def printvar(arg1, *vartuple):
  print("the touple is")
  print(arg1)
  for var in vartuple:
    print(var)
  return;

printvar(1,2,"a",True)

the touple is
1
2
a
True

# The Anonymous Functions

In [ ]:
sum = lambda arg1, arg2: arg1 + arg2;

def sum(arg1, arg2):
  return arg1 + arg2

print("Value of total: ", sum( 10,20 ))
print("Value of total: ", sum( 20,20 ))

Value of total:  30
Value of total:  40

In [22]:
#contoh lain
def jumlah(n1, n2):
  print(f"penjumlah dari {n1} dan {n2} adalah")
  return n1 + n2

jumlah (3,2)

n1 = 3
n2 = 2

a = lambda n1, n2: n1 + n2
print(a(3,2))

penjumlah dari 3 dan 2 adalah
5

In [ ]:
#The return statement
def sum(arg1, arg2):
  total = arg1 + arg2
  total2 = total + arg1
  print("Inside the function : ", total)
  return total2
total = sum(10,20)
print("Outside the function : ",total)

Inside the function :  30
Outside the function :  40

# Scope of Variable

In [ ]:
total = 0;

def sum ( arg1, arg2 ):
  total = arg1 + arg2;
  print("Inside the function : ", total)
  return total;

def min():
  sum( 10, 20 );
  print("Outside the function : ",total)

min()

Inside the function :  30
Outside the function :  0

In [27]:
totall = 0
def jumlahh(arg1, arg2):

  totall = arg1 + arg2
  print("Variabel total di dalam function", totall)
  return totall

jumlahh(10, 20)
print("Variabel total di luar function", totall)

Variabel total di dalam function 30
Variabel total di luar function 0

In [ ]:
jumlahkucing = 20

def jumlahHewan():
  jumlahanjing = 30
  return jumlahkucing + jumlahanjing

def jumlahkelinci():
  return jumlahkucing + jumlahkucing

jumlahHewan()
jumlahkelinci()

40

### Module dan packages